<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MO:SI 판매자 마이페이지 홈</title>
  <link rel="stylesheet" th:href="@{/css/layout.css}">
  <link rel="stylesheet" th:href="@{/css/common.css}">
  <link rel="stylesheet" th:href="@{/css/sellerpage/createSellerPage.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>
<div class="layout-wrapper">
  <header th:replace="~{fragments/sellerHeader :: sellerHeader}"></header>

  <div class="page-container">
    <main class="mypage-container">
      <section class="content">
        <h1>판매자 페이지 생성</h1>

        <form th:action="@{/mypage/seller/create}" method="post" enctype="multipart/form-data">
          <input type="hidden" id="memberId" name="memberId" th:value="${memberId}">

          <div class="profile-upload">
            <label for="imageFile" class="profile-upload-label">
              프로필 사진 등록
            </label>
            <input type="file" id="imageFile" name="imageFile" accept="image/*" hidden>
          </div>

          <div>
            <label for="nickname">닉네임</label>
            <div class="nickname-box">
                <input type="text" th:field="*{nickname}" id="nickname" name="nickname" autocomplete="off">
                <button type="button" class="btn-small" id="nicknameToggleBtn">중복확인</button>
            </div>
              <span id="nicknameCheckMsg" class="form-text ms-2"></span>
              <p class="error-msg" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">닉네임 오류</p>
          </div>

          <div class="textarea-wrapper">
            <label for="intro">소개글:</label>
            <div class="textarea-box">
              <textarea id="intro" name="intro" rows="4" cols="40" maxlength="500"></textarea>
              <div id="charCount">500자 남음</div>
            </div>
          </div>
        </form>
        <div>
          <button type="submit">등록</button>
        </div>
      </section>
    </main>
    <!-- 공지 -->
    <div class="notice-bar">
      <div class="notice-label">공지</div>
      <div class="notice-text">&lt;MO:SI&gt; 신규 코스 등록 이벤트 당첨자 안내</div>
      <a href="#" class="more-link">+ 더보기</a>
    </div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
  </div>

  <script th:src="@{/js/sellerpage/sellerMypageHome.js}"></script>
</div>
</body>
</html>
