@charset "utf-8";

/* 유효성 체크 오류 메세지 */
.field-err {
  font-weight:bold;
  font-size: 0.8rem;
  color: #f00;
}
.global-err {
  font-weight:bold;
  font-size: 0.8rem;
  color: #00f;
}

::backdrop {
  background-color: #999;  
  opacity: 0.75;
}    
dialog {
  border-radius: 5%;
  border-width:0;
  background-color: yellow;
}
textarea {
  font-family: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Pretendard', sans-serif;
  color: #000;
  background-color: #fff;
  padding-top: 150px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* 레이아웃 */
.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  /*height: 1980px;*/
  display: flex;
  flex-direction: column;
}

.mypage-container {
  flex: 1;
  display: flex;
  gap: 30px;
  padding: 40px 20px;
  background-color: #fff;
  min-height: calc(100vh - 150px - 80px); /* ✅ 헤더/푸터 제외 높이 확보 */
}

.content {
  flex-grow: 1;
  width: auto;
}