.inquiry-container{
    margin-top: 80px;
}


/* tap 메뉴 */
.tab-menu {
    display: flex;
    height: 61px;
    border-bottom: 1px solid #BFBFBF;
}


.tab-button {
    flex: 1;
    padding: 10px;
    border: none;
    background: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    font-weight: bold;
    color: #6B6B6B;
}

.tab-button.active {
    font-size: large;
    font-weight: bold;
    color: #1EC4CC;
}


.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}


.inquiry-list {
    list-style: none;
    padding: 0;
}
.inquiry-list li {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}


/* 페이지네이션 */
.pagination {
    text-align: center;
    margin-top: 10px;
}
.pagination a {
    display: inline-block;
    margin: 0 5px;
    padding: 5px 8px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #333;
}
.pagination a.active {
    background: #007bff;
    color: #fff;
}


/* 리스트 항목 */
.inquiry-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 103px;
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #414141;
}

.inquiry-list-product_number{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inquiry-list-product_img{
    flex-grow: 1;
    height: inherit;
    border: 1px solid #BFBFBF;

    display: flex;
    justify-content: center;
    align-items: center;
}
.inquiry-list-product_title{
    flex-grow: 3;
    margin-left: 15px;
}
.inquiry-list-msgs{
    flex-grow: 4;
}


.inquiry-list-product_title{
    display: flex;
    justify-content: start;
    align-items: center;
}

.inquiry-lsit-seller_nickname{
    font-weight: bold;
    margin-bottom: 5px;
}