body {
  background-color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #414141;
  padding-top: 167px;
}
.layout-wrapper{
  width: 1200px;
  height: 1980;
  margin: 0 auto;
}

.content{
  display: flex;
  height: 1513px;
  border: 1px solid#1EC4CC;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #414141;
  margin-bottom: 32px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 420px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  outline: 1px solid #1EC4CC;
}


.profile-upload {
  width: 186px;
  height: 186px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
}

.profile-upload-label {
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.nickname-box {
  display: flex;
  gap: 8px;
  width: 100%;
  justify-content: center;
}

.nickname-box input {
  width: 220px;
  border: none;
  border-bottom: 1px solid #aaa;
  padding: 8px;
  font-size: 14px;
  text-align: center;
}


label {
  display: block;
  margin-bottom: 14px;
  font-weight: 600;
}



button {
  margin: 0 auto;
  background-color: #1EC4CC;
  color: white;
  font-size: 12px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 70px;
  height: 30px;
}

button:hover {
  background-color: #0F8291;
}

button[type="submit"]:hover {
  background-color: #0F8291;
}


.textarea-wrapper {
  position: relative;
  width: 420px;
}

#intro {
  width: 400px;
  height: 120px;
  padding: 12px;
  border: 1px solid #B2B2B2;
  border-radius: 6px;
  resize: none;
  font-size: 14px;
}

#charCount {
  position: absolute;
  bottom: 8px;
  right: 12px;
  font-size: 12px;
  color: #777;
}

button[type="submit"] {
  width: 140px;
  height: 38px;
  background-color: #1EC4CC;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  margin-top: 40px;
}

